#MISC
.DS_Store

# building catkin
build/
devel/
logs/
protobuf/
get-pip.py
src/ceres-solver
src/cartographer

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeLists.txt
