# ROS
.rosinstall
.rosinstall.bak

# building catkin
build/
devel/
logs/
protobuf/
get-pip.py
ceres-solver
cartographer

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake-build-debug
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
#CMakeLists.txt

# MISC
.DS_Store

#Python
**/*.pyc
