[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "common_utilities"]
	path = common_utilities
	url = https://github.com/Roboy/common_utilities.git
[submodule "obstacle_detector"]
	path = obstacle_detector
	url = https://github.com/tysik/obstacle_detector
[submodule "realsense"]
	path = realsense
	url = https://github.com/intel-ros/realsense.git
	branch = development
[submodule "cartographer_ros"]
	path = cartographer_ros
	url = https://github.com/Roboy/cartographer_ros.git
[submodule "calibration_tools"]
	path = calibration_tools
	url = https://github.com/Roboy/calibration_tools.git
	branch = master
