[submodule "roboy_communication"]
	path = roboy_communication
	url = https://github.com/Roboy/roboy_communication.git
[submodule "common_utilities"]
	path = common_utilities
	url = https://github.com/Roboy/common_utilities.git
[submodule "sick_scan"]
	path = sick_scan
	url = https://github.com/SICKAG/sick_scan.git
[submodule "ros_navigation_stack"]
	path = ros_navigation_stack
	url = https://github.com/ros-planning/navigation.git
