<?xml version="1.0"?>
<model>
  <name>Tricycle</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Alex Melkonyan</name>
   <email>sasha.melkonyan@gmail.com</email>
  </author>

  <description>
    A very simple tricycle, consisting of one chassis and three wheels, one of which can be rotated.
  </description>
</model>