<launch>
    <!-- TODO: create my own config file. -->
    <arg name="map_config"
         default="$(find roboy_navigation)/config/utum_map_server.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server"
          args="$(arg map_config)"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_pose"
          args="0 0 0 0 0 0 1 /map base_link 100"/>
    <!-- Run the costmap node -->
    <node name="astar_planner_node" pkg="astar_planner" type="astar_planner_node" output="screen">
        <rosparam file="$(find astar_planner)/config/costmap_example.yaml"
                  command="load" ns="costmap"/>
    </node>
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find astar_planner)/example.rviz"/>
</launch>